@font-face {
    font-family: 'Vaccine Sans Light';
    src: url('../fonts/VaccineSans-Light.eot');
    src: url('../fonts/VaccineSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VaccineSans-Light.woff') format('woff'),
        url('../fonts/VaccineSans-Light.otf') format('otf'),
        url('../fonts/VaccineSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vaccine Sans ExtraBold Italic';
    src: url('../fonts/VaccineSans-ExtraBoldItalic.eot');
    src: url('../fonts/VaccineSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VaccineSans-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/VaccineSans-ExtraBoldItalic.otf') format('otf'),
        url('../fonts/VaccineSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vaccine Sans Bold Italic';
    src: url('../fonts/VaccineSans-BoldItalic.eot');
    src: url('../fonts/VaccineSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VaccineSans-BoldItalic.woff') format('woff'),
        url('../fonts/VaccineSans-BoldItalic.otf') format('otf'),
        url('../fonts/VaccineSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vaccine Sans Bold';
    src: url('../fonts/VaccineSans-Bold.eot');
    src: url('../fonts/VaccineSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VaccineSans-Bold.woff') format('woff'),
        url('../fonts/VaccineSans-Bold.otf') format('otf'),
        url('../fonts/VaccineSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vaccine Sans Italic';
    src: url('../fonts/VaccineSans-Italic.eot');
    src: url('../fonts/VaccineSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VaccineSans-Italic.woff') format('woff'),
        url('../fonts/VaccineSans-Italic.otf') format('otf'),
        url('../fonts/VaccineSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vaccine Sans Regular';
    src: url('../fonts/VaccineSans-Regular.eot');
    src: url('../fonts/VaccineSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VaccineSans-Regular.woff') format('woff'),
        url('../fonts/VaccineSans-Regular.otf') format('otf'),
        url('../fonts/VaccineSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vaccine Sans ExtraBold';
    src: url('../fonts/VaccineSans-ExtraBold.eot');
    src: url('../fonts/VaccineSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VaccineSans-ExtraBold.woff') format('woff'),
        url('../fonts/VaccineSans-ExtraBold.otf') format('otf'),
        url('../fonts/VaccineSans-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vaccine Sans Black Italic';
    src: url('../fonts/VaccineSans-BlackItalic.eot');
    src: url('../fonts/VaccineSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VaccineSans-BlackItalic.woff') format('woff'),
        url('../fonts/VaccineSans-BlackItalic.otf') format('otf'),
        url('../fonts/VaccineSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vaccine Sans Black';
    src: url('../fonts/VaccineSans-Black.eot');
    src: url('../fonts/VaccineSans-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VaccineSans-Black.woff') format('woff'),
        url('../fonts/VaccineSans-Black.otf') format('otf'),
        url('../fonts/VaccineSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vaccine Sans Light Italic';
    src: url('../fonts/VaccineSans-LightItalic.eot');
    src: url('../fonts/VaccineSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VaccineSans-LightItalic.woff') format('woff'),
        url('../fonts/VaccineSans-LightItalic.otf') format('otf'),
        url('../fonts/VaccineSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}